// font-related variables
$main-font-color: #242323;
$main-font: "Roboto", sans-serif;
$mission-font: "Poppins", sans-serif;
$mission-emphasis-color: #5AB28F;
$primary-mission-statement-font: "Lalezar", cursive;

// image-transparency variables
$image-transparency: 0.45;

// screen size-related variables
//$xs-screen: 576px;
$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

// video heights:
$xs-screen-video-height: 150px;
$sm-screen-video-height: 200px;
$md-screen-video-height: 350px;
$lg-screen-video-height: 400px;

*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

@mixin video-button($radius) {
	color: white;
	background-color: #0C9E59;
	font-family: "Questrial", sans-serif;
	width: 10rem;
	height: 50px;
	border-radius: $radius;
	font-size: 1.5rem;
	font-weight: bold;
	border: 3px solid black;
	@content;
}

@mixin background-image($src) {
	background-image: url($src);
	background-repeat: no-repeat;
	background-size:cover;
	@content;
}

@mixin background-image-transparency($opacity) {
	opacity: $opacity;
	content:"";
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

@mixin mission-container($width,$min-height) {
	width: $width;
	min-height: $min-height;
	//	background-color: #F9FCF8;
	display: flex;
	flex-wrap: wrap;
}

@mixin primary-mission-statement($font-size) {
	font-size: $font-size;
	font-weight: 500;
	font-family: $primary-mission-statement-font;
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 1rem;
	text-shadow: 5px 5px black;
}

@mixin secondary-mission-statement($font-size,$width) {
	font-size: $font-size;
	font-weight: 500;
	font-family: $mission-font;
	color: white;
	width: $width;
	margin: 0 1rem 0 1rem;
}

@mixin mission-statement-emphasis-text($font-size) {
	color: $mission-emphasis-color;
	font-size: $font-size;
	font-weight: 700;	
	font-family: $mission-font;
	line-height: 1.2;
	text-shadow: 2.5px 2.5px #3B3B3A;
}

@mixin commitment-child-container($width,$min-height) {
	width: $width;
	min-height: $min-height;
	padding: 1rem;
	background-color: #F0EAE8;
}

@mixin commitment-colors($bg-color,$font-color) {
	background-color: $bg-color;
	color: $font-color;
}

@mixin commitment-action() {
	font-weight: bold;
	font-size: 1.7rem;
}

body {
	color: $main-font-color;
	font-family: $main-font;
	font-weight:400;
	background-color: white;
}

#homepage-video-container {
	color:black;
}

.global-nav {
	display: flex;
}

.global-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	z-index: 1;
}

.global-menu-button {
	border: 1px solid white;
	box-sizing: border-box;
	background-color: black;
	width: 70px;
	margin-left: 0;
	.button-container {
		margin-top:20px;
		div {
			width: 30px;
			height: 5px;
			background-color: white;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.global-menu-button:hover {
	background-color: #302F30;
	.global-dropdown-content {
		display: block;
		background-color: black;
		z-index: 2;
		& :hover {
			color: #FA4616;
		}
		a {
			display: block;
			font-size: 1rem;
			color: white;
			font-family: $main-font;
			text-decoration: none;
			box-sizing: border-box;
			text-align: left;
			padding: 1rem;
			& :visited {
				text-decoration: none;
			}
		}
	}
}

.global-nav-logo {
	height: 80px;
	width: 300px;
	background-image: url(../images/FESC.jpg);
	background-size: 200px 80px;
	background-repeat: no-repeat;
	background-position: center center;
}

@media screen and (max-width: $sm-screen) {
	.global-nav-logo {
		max-width: 100%;
		background-position: center center;
	}
}

@media screen and (min-width: $sm-screen) {
	.global-nav-logo {
		width: 100%;
		background-position: left center;
	}
}

// media queries to make secondary mission statement containers responsive
@media screen and (max-width: $sm-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;

			.homepage-video {
				max-width: $sm-screen;
				object-fit: cover;
				height: $xs-screen-video-height;
				margin: 0.3rem ;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,300px);
			position: relative;
			display: block;
			z-index: 1;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(2.7rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 80%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,250px);
		}
		#mission-1 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#mission-2 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
					& :hover {
						color: grey;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#mission-3 {
			position: relative;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
					& :hover {
						color: grey;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#commitment-container {
			width: 100%;
			position: relative;
			background-color: #E9F2FA;
			.commitment-statement {
				//				height: 70px;
				.commitment-statement-child {
					//					background: rgba(130,232,131,1);
					color: #0C9E59;
					width: 100%;
					z-index:1;
					display: flex;
					align-items: center;
					h2 {
						font-size: 9vw;
						font-family: "Questrial", sans-serif;
						text-shadow: 3px 3px white;
					}
				}
			}
			.mission-statement-article {
				margin: 1rem 0 0 0;
				div p {
					font-family: "Questrial", sans-serif;
					font-size: 1.1rem;;
					background-color: #0C9E59;
					color: white;
					padding: 1rem;
					line-height: 1.75rem;
				}
				.primary-message {
					font-family: "Questrial", sans-serif;
					text-transform: uppercase;
					text-align:center;
					font-weight: bold;
					font-size: 1.2rem;
					color: #006747;
					padding: 1rem;
				}
				.chart-container {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
	}
	footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		background-color: black;
		div {
			background-color: black;
			i{
				width: 100%;
			}
			.fa-facebook {
				color: #3b5998;
			}

			.fa-twitter-square {
				color: #1da1f2;
			}

			.fa-linkedin {
				color: #1985bc;
			}
		}
	}
	.chart-child {
		width:100%;
	}
}

@media screen and (min-width: $sm-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;

			.homepage-video {
				width: $sm-screen;
				object-fit: cover;
				height: $sm-screen-video-height;
				margin: 1rem 0;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,400px);
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(3.5rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,400px);
		}
		#mission-1 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
					& :hover {
						color: grey;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#mission-2 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
					& :hover {
						color: grey;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#mission-3 {
			position: relative;
			display: flex;
			align-items: center;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
			.learn {
				display: flex;
				align-items: center;
				color: white;
				text-align: center;
				font-size: 1.5rem;
				a {
					text-decoration: none;
					.fas {
						margin-top: 1rem;
						color: white;
						text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
					}
					& :hover {
						color: grey;
					}
				}
				.learn-button {
					border-radius: 30px;
					background-color: #0C9E59;
					color: white;
					h4 {
						margin: 0 1rem;
						padding: 0.5rem;
					}
				}
			}
		}
		#commitment-container {
			width: 100%;
			position: relative;
			background-color: #E9F2FA;
			.commitment-statement {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				.commitment-statement-child {
					color: #0C9E59;
					width: 100%;
					z-index:1;
					h2 {
						text-align: center;
						font-size: 3.8rem;
						font-family: "Questrial", sans-serif;
						text-shadow: 3px 3px white;
					}
				}
			}
			.mission-statement-article {
				margin: 1rem 0 0 0;
				div p {
					font-family: "Questrial", sans-serif;
					font-size: 1.2rem;
					background-color: #0C9E59;
					color: white;
					padding: 1rem;
					line-height: 1.75rem;
				}
				.primary-message {
					font-family: "Questrial", sans-serif;
					text-transform: uppercase;
					text-align:center;
					font-weight: bold;
					font-size: 1.5rem;
					color: #006747;
					padding: 1rem;
				}
				.chart-container {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
	}

	footer {
		//		display: flex;
		align-items: center;
		text-align: center;
		background-color: black;
		div {
			background-color: black;
			i{
				width: 10%;
				max-width: 50px;
			}
			.fa-facebook {
				color: #3b5998;
			}

			.fa-twitter-square {
				color: #1da1f2;
			}

			.fa-linkedin {
				color: #1985bc;
			}
		}
	}
}

@media screen and (min-width: $md-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;
			.homepage-video {
				width: 100%;
				height: $md-screen-video-height;
				margin: 1rem 0;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,500px);
			position: relative;
			display: block;
			z-index: 1;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(4.5rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,500px);
		}
		#mission-1 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-2 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-3 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#commitment-container {
			.commitment-statement {;
				.commitment-statement-child {
					h2 {
						font-size: 4rem;
					}
				}
			}
			.mission-statement-article {
				margin: 1rem 0 0 0;
				div p {
					font-size: 1.2rem;
				}
				.primary-message {
					font-size: 1.5rem;
				}
				.chart-container {
				}
			}
		}
	}
}

@media screen and (min-width: $lg-screen) {
	.main-container {
		#homepage-video-container {
			width: $lg-screen;
			text-align: center;
			background-color: black;

			.homepage-video {
				width: 100%;
				height: $lg-screen-video-height;
				background-color: black;
			}
		}
		.primary-mission-container {
			@include mission-container($lg-screen,600px);
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(5.1rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container($lg-screen,550px);
		}
		#mission-1 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-2 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-3 {
			display: flex;
			align-items: center;
			position: relative;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#commitment-container {
			max-width: $lg-screen;
			.commitment-statement {
				.commitment-statement-child {
					h2 {
						font-size: 4.2rem;
						font-family: "Questrial", sans-serif;
						text-shadow: 3px 3px white;
					}
				}
			}
			.secondary-mission-container {
				@include mission-container($lg-screen,100%);
				.mission-statement-article {
					div p {
						font-family: "Questrial", sans-serif;
						font-size: 1.4rem;
					}
					.primary-message {
						font-size: 1.5rem;
						color: #006747;
					}
					.chart-container {
					}
				}
			}
		}
	}
}