// font-related variables
$main-font-color: #242323;
$main-font: "Roboto", sans-serif;
$mission-font: "Poppins", sans-serif;
$mission-emphasis-color: #5AB28F;
$primary-mission-statement-font: "Lalezar", cursive;

// image-transparency variables
$image-transparency: 0.45;

// screen size-related variables
//$xs-screen: 576px;
$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

// video heights:
$xs-screen-video-height: 150px;
$sm-screen-video-height: 200px;
$md-screen-video-height: 350px;
$lg-screen-video-height: 400px;

*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

@mixin video-button($radius) {
	background-color: #C8E8C3;
	font-family: "Questrial", sans-serif;
	width: 10rem;
	height: 50px;
	border-radius: $radius;
	font-size: 1.5rem;
	font-weight: bold;
	border: 3px solid black;
	@content;
}

@mixin background-image($src) {
	background-image: url($src);
	background-repeat: no-repeat;
	background-size:cover;
	@content;
}

@mixin background-image-transparency($opacity) {
	opacity: $opacity;
	content:"";
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

@mixin mission-container($width,$min-height) {
	width: $width;
	min-height: $min-height;
	//	background-color: #F9FCF8;
	display: flex;
	flex-wrap: wrap;
}

@mixin primary-mission-statement($font-size) {
	font-size: $font-size;
	font-weight: 500;
	font-family: $primary-mission-statement-font;
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 1rem;
	text-shadow: 5px 5px black;
}

@mixin secondary-mission-statement($font-size,$width) {
	font-size: $font-size;
	font-weight: 500;
	font-family: $mission-font;
	color: white;
	width: $width;
	margin: 0 1rem 0 1rem;
}

@mixin mission-statement-emphasis-text($font-size) {
	color: $mission-emphasis-color;
	font-size: $font-size;
	font-weight: 700;	
	font-family: $mission-font;
	line-height: 1.2;
	text-shadow: 2.5px 2.5px #3B3B3A;
}

@mixin commitment-child-container($width,$min-height) {
	width: $width;
	min-height: $min-height;
	padding: 1rem;
	background-color: #F0EAE8;
}

@mixin commitment-colors($bg-color,$font-color) {
	background-color: $bg-color;
	color: $font-color;
}

@mixin commitment-action() {
	font-weight: bold;
	font-size: 1.1rem;
}

body {
	color: $main-font-color;
	font-family: $main-font;
	font-weight:400;
	background-color: #F9FCF8;
}

#homepage-video-container {
	color:black;
}

.global-nav {
	display: flex;
}

.global-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 150px;
	z-index: 1;
}

.global-menu-button {
	border: 1px solid white;
	box-sizing: border-box;
	background-color: black;
	width: 70px;
	margin-left: 0;
	.button-container {
		margin-top:20px;
		div {
			width: 30px;
			height: 5px;
			background-color: white;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.global-menu-button:hover {
	background-color: #302F30;
	.global-dropdown-content {
		display: block;
		background-color: black;
		z-index: 2;
		& :hover {
			color: #FA4616;
		}
		a {
			display: block;
			font-size: 1rem;
			color: white;
			font-family: $main-font;
			text-decoration: none;
			box-sizing: border-box;
			text-align: left;
			padding: 1rem;
			& :visited {
				text-decoration: none;
			}
		}
	}
}

.global-nav-logo {
	height: 80px;
	width: 300px;
	background-image: url(../images/FESC.jpg);
	background-size: 200px 80px;
	background-repeat: no-repeat;
	background-position: center center;
}

@media screen and (max-width: $sm-screen) {
	.global-nav-logo {
		max-width: 100%;
		background-position: center center;
	}
}

@media screen and (min-width: $sm-screen) {
	.global-nav-logo {
		width: 100%;
		background-position: left center;
	}
}

// media queries to make secondary mission statement containers responsive
@media screen and (max-width: $sm-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;

			.homepage-video {
				max-width: $sm-screen;
				object-fit: cover;
				height: $xs-screen-video-height;
				margin: 0.3rem ;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,300px);
			position: relative;
			display: block;
			z-index: 1;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(2.7rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 80%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,250px);
		}
		#mission-1 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
		}
		#mission-2 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
		}
		#mission-3 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.7rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(2rem);
				}
			}
		}
		section {
			.commitment-statement {
				@include background-image("../images/hands_in.png");
				height: 500px;
				width: $lg-screen;
				.commitment-title {
					background: rgba(130,232,131,0.20);
					width: 100%;
					z-index:1;
					font-size: 4rem;
					text-align: center;
					display: flex;
					flex-wrap:wrap;
				}
				.commitment-child-container {
					@include commitment-child-container(100%,75px);
				}
			}
		}
	}
}

@media screen and (min-width: $sm-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;

			.homepage-video {
				width: $sm-screen;
				object-fit: cover;
				height: $sm-screen-video-height;
				margin: 1rem 0;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,400px);
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(3.5rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,400px);
		}
		#mission-1 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
		}
		#mission-2 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
		}
		#mission-3 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(0.9rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(3rem);
				}
			}
		}
		section {
			.commitment-statement {
				@include background-image("../images/hands_in.png");
				height: 500px;
				width: $lg-screen;
				.commitment-title {
					background: rgba(130,232,131,0.20);
					width: 100%;
					z-index:1;
					font-size: 4rem;
					text-align: center;
					display: flex;
					flex-wrap:wrap;
				}
				.commitment-child-container {
					@include commitment-child-container(50%,90px);
				}
			}
		}
	}
}

@media screen and (min-width: $md-screen) {
	.main-container {
		#homepage-video-container {
			width: 100%;
			text-align: center;
			background-color: black;
			.homepage-video {
				width: 100%;
				height: $md-screen-video-height;
				margin: 1rem 0;
			}
		}
		.primary-mission-container {
			@include mission-container(100%,500px);
			position: relative;
			display: block;
			z-index: 1;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(4.5rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container(100%,500px);
		}
		#mission-1 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-2 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-3 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		section {
			.commitment-statement {
				@include background-image("../images/hands_in.png");
				height: 500px;
				width: $lg-screen;
				.commitment-title {
					background: rgba(130,232,131,0.20);
					width: 100%;
					z-index:1;
					font-size: 4rem;
					text-align: center;
					display: flex;
					flex-wrap:wrap;
				}
				.commitment-child-container {
					@include commitment-child-container(25%,100px);
				}
			}
		}
	}
}


@media screen and (min-width: $lg-screen) {
	.main-container {
		#homepage-video-container {
			width: $lg-screen;
			text-align: center;
			background-color: black;

			.homepage-video {
				width: 100%;
				height: $lg-screen-video-height;
				background-color: black;
			}
		}
		.primary-mission-container {
			@include mission-container($lg-screen,600px);
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/world-energy.png") {
					@include background-image-transparency(1);
				}
			}
			.primary-mission-statement {
				@include primary-mission-statement(5.1rem);
			}
			#video-button {
				@include video-button(0) {
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					bottom: 0;
				}

				&:hover {
					background-color: #98B4E8;
				}
			}
		}
		.secondary-mission-container {
			@include mission-container($lg-screen,550px);
		}
		#mission-1 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/efficient_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-2 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/alternative_energy.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		#mission-3 {
			position: relative;
			display: block;
			& ::after {
				@include background-image("../images/improve_efficiency.png") {
					@include background-image-transparency($image-transparency);
				}
			}
			.secondary-mission-statement {
				@include secondary-mission-statement(1rem,100%);
				.text-emphasis {
					@include mission-statement-emphasis-text(4.5rem);
				}
			}
		}
		section {
			width: $lg-screen;
			.commitment-statement {
				@include background-image("../images/hands_in.png");
				height: 200px;
				.commitment-statement-child {
					background: rgba(130,232,131,0.4);
					width: 100%;
					height: 100%;
					z-index:1;
					display: flex;
					align-items: center;
					h2 {
						font-size: 6rem;
						font-family: "Questrial", sans-serif;
						text-shadow: 3px 3px white;
					}
				}
			}
			.commitment-parent-container {
				display: flex;
				flex-wrap:wrap;
				align-items: center;
				font-size: 1rem;
				.commitment-child-container {
					@include commitment-child-container(25%,120px);
				}
			}
		}
	}
}

#commitment-1 {
	@include commitment-colors(#782F40,#CEB888);
	.commitment-action {
		@include commitment-action()
			}
}

#commitment-2 {
	@include commitment-colors(#BA9B37,black);
	.commitment-action {
		@include commitment-action()
			}
}

#commitment-3 {
	@include commitment-colors(#006747,#CFC493);
	.commitment-action {
		@include commitment-action()
			}
}

#commitment-4 {
	@include commitment-colors(#0021A5,#E8E7E5);
	.commitment-action {
		@include commitment-action()
			}
}

.mission-statement-article {
	margin: 1rem auto;
	p {
		line-height: 1.75rem;
	}
	div p {
		background-color: #FFFAF9;
		padding: 1rem;

	}
}

.primary-message {
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
	font-size: 1.5rem;
	color: #006747;
	padding: 1rem;
}

.chart-container {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: $sm-screen) {
	.chart-child {
		width:100%;
	}
}