* {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #242323;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: white; }

#homepage-video-container {
  color: black; }

.global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.global-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  z-index: 1; }

.global-menu-button {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  width: 70px;
  margin-left: 0; }
  .global-menu-button .button-container {
    margin-top: 20px; }
    .global-menu-button .button-container div {
      width: 30px;
      height: 5px;
      background-color: white;
      margin-top: 10px;
      margin-bottom: 10px; }

.global-menu-button:hover {
  background-color: #302F30; }
  .global-menu-button:hover .global-dropdown-content {
    display: block;
    background-color: black;
    z-index: 2; }
    .global-menu-button:hover .global-dropdown-content :hover {
      color: #FA4616; }
    .global-menu-button:hover .global-dropdown-content a {
      display: block;
      font-size: 1rem;
      color: white;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: left;
      padding: 1rem; }
      .global-menu-button:hover .global-dropdown-content a :visited {
        text-decoration: none; }

.global-nav-logo {
  height: 80px;
  width: 300px;
  background-image: url(../images/FESC.jpg);
  background-size: 200px 80px;
  background-repeat: no-repeat;
  background-position: center center; }

@media screen and (max-width: 768px) {
  .global-nav-logo {
    max-width: 100%;
    background-position: center center; } }
@media screen and (min-width: 768px) {
  .global-nav-logo {
    width: 100%;
    background-position: left center; } }
@media screen and (max-width: 768px) {
  .main-container #homepage-video-container {
    width: 100%;
    text-align: center;
    background-color: black; }
    .main-container #homepage-video-container .homepage-video {
      max-width: 768px;
      -o-object-fit: cover;
         object-fit: cover;
      height: 150px;
      margin: 0.3rem; }
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    display: block;
    z-index: 1; }
    .main-container .primary-mission-container ::after {
      background-image: url("../images/world-energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container .primary-mission-container .primary-mission-statement {
      font-size: 2.7rem;
      font-weight: 500;
      font-family: "Lalezar", cursive;
      color: white;
      text-align: center;
      line-height: 1.1;
      padding: 1rem;
      text-shadow: 5px 5px black; }
    .main-container .primary-mission-container #video-button {
      background-color: #C8E8C3;
      font-family: "Questrial", sans-serif;
      width: 10rem;
      height: 50px;
      border-radius: 0;
      font-size: 1.5rem;
      font-weight: bold;
      border: 3px solid black;
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      bottom: 0; }
      .main-container .primary-mission-container #video-button:hover {
        background-color: #98B4E8; }
  .main-container .secondary-mission-container {
    width: 100%;
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-container #mission-1 {
    position: relative;
    display: block; }
    .main-container #mission-1 ::after {
      background-image: url("../images/efficient_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-1 .secondary-mission-statement {
      font-size: 0.7rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-1 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 2rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-2 {
    position: relative;
    display: block; }
    .main-container #mission-2 ::after {
      background-image: url("../images/alternative_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-2 .secondary-mission-statement {
      font-size: 0.7rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-2 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 2rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-3 {
    position: relative;
    display: block; }
    .main-container #mission-3 ::after {
      background-image: url("../images/improve_efficiency.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-3 .secondary-mission-statement {
      font-size: 0.7rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-3 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 2rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container section .commitment-statement {
    background-image: url("../images/hands_in.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px; }
    .main-container section .commitment-statement .commitment-title {
      background: rgba(130, 232, 131, 0.2);
      width: 100%;
      z-index: 1;
      font-size: 4rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .main-container section .commitment-statement .commitment-child-container {
      width: 100%;
      min-height: 75px;
      padding: 1rem;
      background-color: #F0EAE8; }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: black; }
    footer div {
      background-color: black; }
      footer div i {
        width: 100%; }
      footer div .fa-facebook {
        color: #3b5998; }
      footer div .fa-twitter-square {
        color: #1da1f2; }
      footer div .fa-linkedin {
        color: #1985bc; } }
@media screen and (min-width: 768px) {
  .main-container #homepage-video-container {
    width: 100%;
    text-align: center;
    background-color: black; }
    .main-container #homepage-video-container .homepage-video {
      width: 768px;
      -o-object-fit: cover;
         object-fit: cover;
      height: 200px;
      margin: 1rem 0; }
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    display: block; }
    .main-container .primary-mission-container ::after {
      background-image: url("../images/world-energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container .primary-mission-container .primary-mission-statement {
      font-size: 3.5rem;
      font-weight: 500;
      font-family: "Lalezar", cursive;
      color: white;
      text-align: center;
      line-height: 1.1;
      padding: 1rem;
      text-shadow: 5px 5px black; }
    .main-container .primary-mission-container #video-button {
      background-color: #C8E8C3;
      font-family: "Questrial", sans-serif;
      width: 10rem;
      height: 50px;
      border-radius: 0;
      font-size: 1.5rem;
      font-weight: bold;
      border: 3px solid black;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0; }
      .main-container .primary-mission-container #video-button:hover {
        background-color: #98B4E8; }
  .main-container .secondary-mission-container {
    width: 100%;
    min-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-container #mission-1 {
    position: relative;
    display: block; }
    .main-container #mission-1 ::after {
      background-image: url("../images/efficient_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-1 .secondary-mission-statement {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-1 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 3rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-2 {
    position: relative;
    display: block; }
    .main-container #mission-2 ::after {
      background-image: url("../images/alternative_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-2 .secondary-mission-statement {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-2 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 3rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-3 {
    position: relative;
    display: block; }
    .main-container #mission-3 ::after {
      background-image: url("../images/improve_efficiency.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-3 .secondary-mission-statement {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-3 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 3rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container section .commitment-statement {
    background-image: url("../images/hands_in.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px; }
    .main-container section .commitment-statement .commitment-title {
      background: rgba(130, 232, 131, 0.2);
      width: 100%;
      z-index: 1;
      font-size: 4rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .main-container section .commitment-statement .commitment-child-container {
      width: 50%;
      min-height: 90px;
      padding: 1rem;
      background-color: #F0EAE8; }

  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: black; }
    footer div {
      background-color: black; }
      footer div i {
        width: 10%; }
      footer div .fa-facebook {
        color: #3b5998; }
      footer div .fa-twitter-square {
        color: #1da1f2; }
      footer div .fa-linkedin {
        color: #1985bc; }

  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: black; }
    footer div {
      background-color: black; }
      footer div i {
        width: 10%;
        max-width: 50px; }
      footer div .fa-facebook {
        color: #3b5998; }
      footer div .fa-twitter-square {
        color: #1da1f2; }
      footer div .fa-linkedin {
        color: #1985bc; } }
@media screen and (min-width: 992px) {
  .main-container #homepage-video-container {
    width: 100%;
    text-align: center;
    background-color: black; }
    .main-container #homepage-video-container .homepage-video {
      width: 100%;
      height: 350px;
      margin: 1rem 0; }
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    display: block;
    z-index: 1; }
    .main-container .primary-mission-container ::after {
      background-image: url("../images/world-energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container .primary-mission-container .primary-mission-statement {
      font-size: 4.5rem;
      font-weight: 500;
      font-family: "Lalezar", cursive;
      color: white;
      text-align: center;
      line-height: 1.1;
      padding: 1rem;
      text-shadow: 5px 5px black; }
    .main-container .primary-mission-container #video-button {
      background-color: #C8E8C3;
      font-family: "Questrial", sans-serif;
      width: 10rem;
      height: 50px;
      border-radius: 0;
      font-size: 1.5rem;
      font-weight: bold;
      border: 3px solid black;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0; }
      .main-container .primary-mission-container #video-button:hover {
        background-color: #98B4E8; }
  .main-container .secondary-mission-container {
    width: 100%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-container #mission-1 {
    position: relative;
    display: block; }
    .main-container #mission-1 ::after {
      background-image: url("../images/efficient_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-1 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-1 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-2 {
    position: relative;
    display: block; }
    .main-container #mission-2 ::after {
      background-image: url("../images/alternative_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-2 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-2 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-3 {
    position: relative;
    display: block; }
    .main-container #mission-3 ::after {
      background-image: url("../images/improve_efficiency.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-3 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-3 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container section .commitment-statement {
    background-image: url("../images/hands_in.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1200px; }
    .main-container section .commitment-statement .commitment-title {
      background: rgba(130, 232, 131, 0.2);
      width: 100%;
      z-index: 1;
      font-size: 4rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .main-container section .commitment-statement .commitment-child-container {
      width: 25%;
      min-height: 100px;
      padding: 1rem;
      background-color: #F0EAE8; } }
@media screen and (min-width: 1200px) {
  .main-container #homepage-video-container {
    width: 1200px;
    text-align: center;
    background-color: black; }
    .main-container #homepage-video-container .homepage-video {
      width: 100%;
      height: 400px;
      background-color: black; }
  .main-container .primary-mission-container {
    width: 1200px;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    display: block; }
    .main-container .primary-mission-container ::after {
      background-image: url("../images/world-energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container .primary-mission-container .primary-mission-statement {
      font-size: 5.1rem;
      font-weight: 500;
      font-family: "Lalezar", cursive;
      color: white;
      text-align: center;
      line-height: 1.1;
      padding: 1rem;
      text-shadow: 5px 5px black; }
    .main-container .primary-mission-container #video-button {
      background-color: #C8E8C3;
      font-family: "Questrial", sans-serif;
      width: 10rem;
      height: 50px;
      border-radius: 0;
      font-size: 1.5rem;
      font-weight: bold;
      border: 3px solid black;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0; }
      .main-container .primary-mission-container #video-button:hover {
        background-color: #98B4E8; }
  .main-container .secondary-mission-container {
    width: 1200px;
    min-height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-container #mission-1 {
    position: relative;
    display: block; }
    .main-container #mission-1 ::after {
      background-image: url("../images/efficient_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-1 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-1 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-2 {
    position: relative;
    display: block; }
    .main-container #mission-2 ::after {
      background-image: url("../images/alternative_energy.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-2 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-2 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container #mission-3 {
    position: relative;
    display: block; }
    .main-container #mission-3 ::after {
      background-image: url("../images/improve_efficiency.png");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.45;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute; }
    .main-container #mission-3 .secondary-mission-statement {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: white;
      width: 100%;
      margin: 0 1rem 0 1rem; }
      .main-container #mission-3 .secondary-mission-statement .text-emphasis {
        color: #5AB28F;
        font-size: 4.5rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        line-height: 1.2;
        text-shadow: 2.5px 2.5px #3B3B3A; }
  .main-container section {
    width: 1200px; }
    .main-container section .commitment-statement {
      background-image: url("../images/hands_in.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px; }
      .main-container section .commitment-statement .commitment-statement-child {
        background: rgba(130, 232, 131, 0.4);
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-container section .commitment-statement .commitment-statement-child h2 {
          font-size: 6rem;
          font-family: "Questrial", sans-serif;
          text-shadow: 3px 3px white; }
    .main-container section .commitment-parent-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1rem; }
      .main-container section .commitment-parent-container .commitment-child-container {
        width: 25%;
        min-height: 120px;
        padding: 1rem;
        background-color: #F0EAE8; } }
#commitment-1 {
  background-color: #782F40;
  color: #CEB888; }
  #commitment-1 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-2 {
  background-color: #BA9B37;
  color: black; }
  #commitment-2 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-3 {
  background-color: #006747;
  color: #CFC493; }
  #commitment-3 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-4 {
  background-color: #0021A5;
  color: #E8E7E5; }
  #commitment-4 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

.mission-statement-article {
  margin: 1rem auto; }
  .mission-statement-article p {
    line-height: 1.75rem; }
  .mission-statement-article div p {
    background-color: #FFFAF9;
    padding: 1rem; }

.primary-message {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #006747;
  padding: 1rem; }

.chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .chart-child {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */