* {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #242323;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.global-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  z-index: 1; }

.global-menu-button {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  width: 70px; }
  .global-menu-button .button-container {
    margin-top: 20px; }
    .global-menu-button .button-container div {
      width: 30px;
      height: 5px;
      background-color: white;
      margin-top: 10px;
      margin-bottom: 10px; }

.global-menu-button:hover {
  background-color: #302F30; }
  .global-menu-button:hover .global-dropdown-content {
    display: block;
    background-color: black; }
    .global-menu-button:hover .global-dropdown-content :hover {
      color: #FA4616; }
    .global-menu-button:hover .global-dropdown-content a {
      display: block;
      font-size: 1rem;
      color: white;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: left;
      padding: 1rem; }
      .global-menu-button:hover .global-dropdown-content a :visited {
        text-decoration: none; }

.global-nav-logo {
  height: 80px;
  width: 300px;
  background-image: url(../images/FESC.jpg);
  background-size: 200px 80px;
  background-repeat: no-repeat;
  background-position: center center; }

@media screen and (max-width: 768px) {
  .global-nav-logo {
    width: 100%;
    background-position: center center; } }
@media screen and (min-width: 768px) {
  .global-nav-logo {
    width: 100%;
    background-position: left center; } }
#mission-statement {
  background-image: url("../images/world-energy.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #mission-statement .primary-mission-statement {
    color: white; }

#mission-1 {
  background-image: url("../images/efficient_energy.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #mission-1 .secondary-mission-statement {
    color: white; }

#mission-2 {
  background-image: url("../images/alternative_energy.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #mission-2 .secondary-mission-statement {
    color: white; }

#mission-3 {
  background-image: url("../images/improve_efficiency.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #mission-3 .secondary-mission-statement {
    color: white; }

@media screen and (max-width: 768px) {
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 300px;
    background-color: #FFECE9; }
    .main-container .primary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (min-width: 768px) {
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 400px;
    background-color: #FFECE9; }
    .main-container .primary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (min-width: 992px) {
  .main-container .primary-mission-container {
    width: 100%;
    min-height: 600px;
    background-color: #FFECE9; }
    .main-container .primary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (min-width: 1200px) {
  .main-container .primary-mission-container {
    width: 1200px;
    min-height: 800px;
    background-color: #FFECE9; }
    .main-container .primary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 768px) {
  .main-container .secondary-mission-container {
    width: 100%;
    min-height: 250px;
    background-color: #FFECE9; }
    .main-container .secondary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (min-width: 768px) {
  .main-container {
    background-color: white; }
    .main-container .secondary-mission-container {
      width: 100%;
      min-height: 400px;
      background-color: #FFECE9; }
      .main-container .secondary-mission-container img {
        display: block;
        margin: 0 auto; } }
@media screen and (min-width: 992px) {
  .main-container .secondary-mission-container {
    width: 100%;
    min-height: 500px;
    background-color: #FFECE9; }
    .main-container .secondary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (min-width: 1200px) {
  .main-container .secondary-mission-container {
    width: 1200px;
    min-height: 550px;
    background-color: #FFECE9; }
    .main-container .secondary-mission-container img {
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 768px) {
  .primary-mission-statement {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 1.1;
    padding: 1rem; } }
@media screen and (min-width: 768px) {
  .primary-mission-statement {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 1.1;
    padding: 1rem; } }
@media screen and (min-width: 992px) {
  .primary-mission-statement {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 1.1;
    padding: 1rem; } }
@media screen and (min-width: 1200px) {
  .primary-mission-statement {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 1.1;
    padding: 1rem; } }
@media screen and (max-width: 1200px) {
  .secondary-mission-statement {
    font-size: 0.4rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: #171717;
    line-height: 1.1;
    padding: 1rem;
    width: 100%; }
    .secondary-mission-statement .text-emphasis {
      color: #B4DEAB;
      font-size: 1.3rem;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      line-height: 1.2; }
    .secondary-mission-statement div {
      font-size: 1.1rem;
      font-weight: 400;
      color: white; } }
@media screen and (min-width: 1200px) {
  .secondary-mission-statement {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: #171717;
    line-height: 1.1;
    padding: 1rem;
    width: 1200px; }
    .secondary-mission-statement .text-emphasis {
      color: #B4DEAB;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      line-height: 1.2; }
    .secondary-mission-statement div {
      font-size: 1.4rem;
      font-weight: 400;
      color: white; } }
.commitment-parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px; }

@media screen and (max-width: 768px) {
  .commitment-child-container {
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    background-color: #F0EAE8; } }
@media screen and (min-width: 768px) {
  .commitment-child-container {
    width: 50%;
    min-height: 150px;
    padding: 1rem;
    background-color: #F0EAE8; } }
@media screen and (min-width: 992px) {
  .commitment-child-container {
    width: 25%;
    min-height: 200px;
    padding: 1rem;
    background-color: #F0EAE8; } }
#commitment-1 {
  background-color: #782F40;
  color: #CEB888; }
  #commitment-1 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-2 {
  background-color: #BA9B37;
  color: black; }
  #commitment-2 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-3 {
  background-color: #006747;
  color: #CFC493; }
  #commitment-3 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

#commitment-4 {
  background-color: #0021A5;
  color: #E8E7E5; }
  #commitment-4 .commitment-action {
    font-weight: bold;
    font-size: 1.1rem; }

/*# sourceMappingURL=index.css.map */